@import '../variable/variable';
@import '../mixins/mixins';

/*=====================================
        client part start
======================================*/
#client {
    padding-bottom: 60px;
    .client_head {
        p {
            @include fstyle(#333, 22px, 600);
            font-family: $ff;
            padding-bottom: 20px;
            border-bottom: 1px solid #ccc;
        }
    }

    .client_part {
        margin-top: 20px;
        ul {
            display: flex;
            flex-wrap: wrap;

            li {
                width: 16.66666666%;
                border: 1px solid #f1f1f1;
            }
        }
    }
}

/*=====================================
        client part start
======================================*/