@import '../variable/variable';
@import '../mixins/mixins';

/*==============================
          popUp start
==============================*/
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.508);
    z-index: 999999999999999999;

    .popup_img {
        width: 780px;
        height: 400px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);

        img {
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;
        }

        .close {
            span {
                position: absolute;
                top: -50px;
                right: 0;
                color: #fff;
                font-size: 30px;
                cursor: pointer;
                transition: all linear .2s;
                -webkit-transition: all linear .2s;
                -moz-transition: all linear .2s;
                -ms-transition: all linear .2s;
                -o-transition: all linear .2s;

                &:hover {
                    transform: scale(1.5) rotate(90deg);
                    -webkit-transform: scale(1.5) rotate(90deg);
                    -moz-transform: scale(1.5) rotate(90deg);
                    -ms-transform: scale(1.5) rotate(90deg);
                    -o-transform: scale(1.5) rotate(90deg);
                }
            }
        }

        .popup_text {
            position: absolute;
            top: 80px;
            left: 50px;

            h6 {
                @include fstyle(#333, 20px, 500);
                font-family: $ff;

                span {
                    color: $hover;
                    font-weight: 700;
                }
            }

            h4 {
                @include fstyle(#333, 28px, 800);
                font-family: $ff;
            }

            p {
                @include fstyle(#666, 14px, 400);
                font-family: $ff;
                padding: 20px 0;
            }

            .button {
                border: 1px solid #aaa;
                display: flex;
                border-radius: 30px;
                -webkit-border-radius: 30px;
                -moz-border-radius: 30px;
                -ms-border-radius: 30px;
                -o-border-radius: 30px;
                overflow: hidden;

                input {
                    padding: 10px 20px;
                    border: none;
                    background: transparent;
                }

                button {
                    border: none;
                    width: 100%;
                    color: #fff;
                    background: #333;
                }
            }

            >input {
                margin-top: 30px;
                margin-right: 10px;
                width: 15px;
                height: 15px;
            }

            label {
                @include fstyle(#999, 13px, 400);
                font-family: $ff;
            }
        }
    }
}

/*==============================
          popUp start
==============================*/